body {
    font-family: 'Nova Mono', monospace;
    background-color: lightblue;
    /* background-image: url(/assets/images/weatherforecastmeme.jpeg); */
}



dt {
    float: left;
}

#weather-day-uv-index {
    padding: 7px;
  }

.favorable{
    background-color: green;
}

.moderate{
background-color: yellow;
}

.severe{
 background-color: red;
}

/* .hide{
    display:none;
} */
