body {
    font-family: 'Nova Mono', monospace;
}

dt {
    float: left;
}

#weather-day-uv-index {
    padding: 7px;
  }

.favorable{
    background-color: green;
}

.moderate{
background-color: yellow;
}

.severe{
 background-color: red;
}

